<div class='main-container'>
    <h1>Stupid Coaching</h1>
    <p>Ask your coach anything</p>

    <form id="question-bar" action="/answer">
        <input type="text" name="question" class="form-control">
        <button type="submit" class="btn btn-primary">Ask!</button>
    </form>
</div>